.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 20px;
    font-family: 'Train One', cursive;
}

.header {
    background-color: lightcyan;
    font: 'Train One';
    height: 90px;
}

.header-list li{
    float: left;
    padding: 2em;  
    list-style: none;
    font-size: 20px;

}

.profile {
    padding-top: 16px;
    padding-bottom: 24px;
}

h2{
    text-align: center;
}

img{
    height: 250px;
    width: 350px;
    margin: auto;
    display: block;
}
.skill {
    background-color: lightblue;
    padding-top: 16px;
    padding-bottom: 24px;
    
}

.skill li{
    width: 100px;
    margin: auto;
}




.portfolio {
    padding-top: 16px;
    padding-bottom: 24px;
}

.portfolio li{
    width: 100px;
    margin: auto;
}


.footer {
    background-color: lightskyblue;
}

p{
    text-align: center;
}